*{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
}
/*.remove{
    font-size:2rem;
    color:green;
    font-family: cursive;
    text-decoration: overline;
    text-transform: uppercase;
}*/
button{
    font-size:1.5rem;
    padding:.3rem;
    border-radius:10px;
    background-color:green;
    color:#fff;
}
.adding{
    color: red;
    text-decoration: overline;
    text-transform: uppercase;
}